

<div class="textBox">
    <h1>About...</h1>
    <h2>In this app we have two forms:</h2>
    <ul class="list">
        <li>one for searching for synonyms,</li>
        <li>one for adding synonyms.</li>
      </ul>

      <h2>Searching synonyms</h2>
      In the search input you can type a word to search for its synonyms.
      The result appears after pressing the enter key on your keyboard.<br>
      

      Synonyms are listed as buttons and if you click on any of them,
      then synonyms for the clicked word will apear in a field, and the
      clicked word will show in the search input section.<br>

      <br><h2>Adding synonyms</h2>
      In the adding synonyms form, there are two inputs (text type) located,
      for the word and for its synonym and on press submit button, synonym will
      be added with the message whether adding the synonyms was successful or not.


</div>
