   <div class="formClass">
   <mat-form-field class="searchForm">
        <mat-label style="margin-left:auto;margin-right:auto">    Search for synonyms</mat-label>
        <input matInput  #search/>
        <mat-icon matPrefix (click)="searchSynonyms(search.value)">search</mat-icon>
      </mat-form-field>
    <p class="addWordsLabel">Add a word and it's synonym</p>
    <div class="wordInputForm">
        <mat-form-field class="textInputField" appearance="outline">
            <mat-label>Enter a word</mat-label>
            <input matInput placeholder="Word">
          </mat-form-field>
          <label class="labelBetweenInputs">--></label>
           <mat-form-field class="textInputField" appearance="outline" >
            <mat-label>And it's synonym</mat-label>
            <input matInput placeholder="Synonym">
            
          </mat-form-field>
      </div>
      <button class="submitButton" mat-raised-button>Submit</button>
  
    </div>
    <div *ngIf="isLoading$ | async">Loading...</div>
    <div class="synonymListDiv" >
      <button class="synonymButtons" *ngFor="let synonym of synonyms$ | async" (click)="searchSynonyms(synonym)" mat-flat-button color="primary">{{ synonym }}</button>
      
    </div>